@model PPShowcase.Models.ProductDto

@{
  ViewData["Title"] = "Create";
  List<SelectListItem> listItems = ViewBag.CategoryItems;
}

<h1>Create</h1>

<h4>ProductDto</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Code" class="control-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ManufacturingDate" class="control-label"></label>
        <input asp-for="ManufacturingDate" class="form-control" />
        <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
      </div>
      <div class="form-group">
        @*@Html.DropDownList("CategoryId",listItems,"Category")*@
        <label class="label">Category</label>
        <select id="drpEmpList" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(listItems, "Value", "Text"))">
        </select>
        <input type="hidden" asp-for="CategoryId" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
      </div>
      <br />
      <br />
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }
  }
